
body{
    margin: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: black; */
    position: relative;
    background: white;
    
}

.toggle{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 30px;
    background: black;
    cursor: pointer;
    /* border: 2px solid rgb(218, 25, 25); */
}

.toggling{
    transition: 0.5s ease-in-out;
    /* border: 2px solid blue; */
}

.dark{
    transition: 0.5s ease-in-out;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 400px;
    padding: 20px;
    border: 3px solid white;
    border-radius: 10px;
    padding: 40px;
    backdrop-filter: blur(20px);
    background: rgba(0, 174, 255, 0.404);
}

input{
    max-width: 250px;
    /* text-align: center; */
    width: 300px;
    height: 40px;
    font-size: 20px;
    border:2px solid rgb(221, 64, 64);
    border-radius: 10px;

}

.btns{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 20px;
    
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 15px;
    background: blue;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    /* text-align: center; */

}

.clear,.equals{
    font-size: 30px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    padding: 5px;
    /* background: blue; */
    color: white;
    border: 2px solid white;
    background: orange;
    cursor: pointer;

}